/*^BANNER*/

#contenedor_banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}

.contenedor_fotografia{
    display: flex;
    align-items: center;
}

.foto_santiago{
    width: 450px; 
    filter: brightness(0.9); /* Reduce el brillo al 90% */
    mask-image:
        linear-gradient(to bottom, black 90%, transparent),
        linear-gradient(to left, black 90%, transparent);
    mask-composite: intersect;
}

.banner_quienSoy{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo_presentacion{
    color: rgb(251, 247, 247);
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.titulo_presentacion:hover{
    transform: scale(1.1);
}

.parrafo_banner{
    background-color: rgb(128, 128, 128, .4);
    color: rgb(251, 247, 247);
    font-size: 18px;
}

@media screen and (max-width: 821px){
    .foto_santiago{
        width: 400px;
    }

    .banner_quienSoy{
        width: 300px;
    }

    .titulo_presentacion{
        font-size: 30px;
    }

    .parrafo_banner{
        font-size: 14px;
    }
}

@media screen and (max-width: 413px){
    #contenedor_banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .foto_santiago{
        width: 320px;
    }
}