/*^ EXPERIENCIA */

#experiencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tit_principal_experiencias{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/**Contendor 1*/
.exp_cet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80vw;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

.cont_img_cet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titulo_cargo{
    text-align: center;
    margin-bottom: 20px;
}

/**Contendor 2*/
.exp_cun{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80vw;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

.cont_img_cun{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img_cun{
    width: 220px;
}

/**Contendor 3*/
.exp_agencia_seguros_fa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80vw;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

.cont_img_falabella{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img_falabella{
    width: 230px;
}

/**Contendor 4*/
.exp_ibm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80vw;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

.cont_img_ibm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img_ibm{
    width: 230px;
}

@media screen and (max-width: 431px){

    /**Contenedor 1*/
    .exp_cet{
        display: flex;
        flex-direction: column;
    }
    
    .titulo_cargo{
        font-size: 23px;
    }

    .experiencia_cet{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 280px;
    }

    /**Contenedor 2*/
    .exp_cun{
        display: flex;
        flex-direction: column;
    }

    .titulo_cargo{
        font-size: 23px;
    }

    .fecha_ingreso{
        margin-bottom: 10px;
    }

    .experiencia_cun{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 280px;
    }

    /**Contenedor 3*/
    .exp_agencia_seguros_fa{
        display: flex;
        flex-direction: column;
    }

    .titulo_cargo{
        font-size: 23px;
    }

    .fecha_ingreso{
        margin-bottom: 10px;
    }

    .experiencia_agen_falabella{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 280px;
    }

    /**Contenedor 4*/
    .exp_ibm{
        display: flex;
        flex-direction: column;
    }

    .titulo_cargo{
        font-size: 23px;
    }

    .fecha_ingreso{
        margin-bottom: 10px;
    }

    .experiencia_ibm{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 280px;
    }
}

@media screen and (max-width: 380px){
    .experiencia_cet{
        width: 230px;
    }

    .experiencia_cun{
        width: 230px;
    }

    .experiencia_agen_falabella{
        width: 230px;
    }

    .experiencia_ibm{
        width: 230px;
    }
}