#contenedor_proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.titulo_proyectos{
    text-align: center;
    margin-bottom: 60px;
}

.proyectos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 30px;
}

/**Manos Locales*/
.contenido_manosLocales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}

.contenido_manosLocales h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 20px;
}

.contenido_manosLocales img{
    width: 200px;
    margin-bottom: 10px;
}

.contenido_manosLocales p{
    width: 400px;
}

.contenido_manosLocales a img{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/**Hackaton Uno*/
.contenido_hackatonUno{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}

.contenido_hackatonUno h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 20px;
}

.contenido_hackatonUno img{
    width: 400px;
    margin-bottom: 10px;
}

.contenido_hackatonUno p,
.contenido_hackatonUno ul{
    width: 400px;
}

.contenido_hackatonUno a img{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 912px){
    .proyectos{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 821px){
    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        gap: 40px;
    }

    .titulo_proyectos{
        margin-top: 20px;
    }

    .contenido_manosLocales h3{
        margin-top: 20px;
    }

    .contenido_hackatonUno h3{
        margin-top: 20px;
    }
}

@media screen and (max-width: 431px){
    /**Manos Locales*/
    .contenido_manosLocales{
        width: 90%;
    }

    .contenido_manosLocales p{
        width: 270px;
    }

    /**Hackaton 1*/
    .contenido_hackatonUno{
        width: 90%;
    }

    .contenido_hackatonUno img{
        width: 270px;
    }

    .contenido_hackatonUno p{
        width: 270px;
    }

    .contenido_hackatonUno h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contenido_hackatonUno ul{
        width: 250px;
    }
}

@media screen and (max-width: 380px){
    .contenido_manosLocales p{
        width: 260px;
    }

    .contenido_hackatonUno p{
        width: 260px;
    }

    .contenido_hackatonUno ul{
        width: 220px;
    }
}